*{
    margin: 0;
    padding: 0%;
}
.common-Nav{
    height:20vh;
    display: flex;
    justify-content: space-between;
    color: rgba(45, 45, 43, 0.455);
    position:fixed;
    top: 0px;
    left: 0;
    width:100vw;
    z-index: 2;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.597),rgba(255, 255, 255, 0.68));
   
    
}
.common-nav-left{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
    cursor: pointer;
}


.common-nav-list{
    flex: 20;
    margin-left: 40%;
    cursor: pointer;
    position: relative;
}

.common-nav-list>ul{
    display: flex;
   margin-top: -3rem;
    gap: 1rem;
    list-style-type: none;
    font-weight: bold;
    font-size:0.8rem;
   color: black;
}

.common-nav-list>ul>li:hover{
    cursor: pointer;
    color: rgb(104, 207, 83);
    font-size:1rem;
    }

.common-nav-left>.common-nav-list{

    margin-left: 0rem;
   
}

.common-nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1rem;
    font-weight: 400;
    text-align: right;
   
}
.common-nav-right>.common-nav-list{
    margin-left: 0rem;
    text-align: right;
    width: 100%;
  
}
.common-nav-right>.common-nav-list>ul{
    float: right;
}
.check-label-common{
    display: none;
    float: right;
    right: 2%;
}
.common-list{
    position: absolute;
    margin-top: 17rem;
   text-align: center;
   display: none;
   right: 2%;
}

.check-common:checked>label{
    transform: rotate(90deg);
    
}
.check-common:checked+.common-list{
    display: block;
    margin-top: 15rem;
    z-index: 10;
}
.com-list{
    color: rgb(215, 208, 222);
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width:900px){
    
   
    .common-list{
       display: none;
        
    }
}



@media only screen and (max-width:600px){
    
.reachUs{
    display: none;
}
.common-nav-right>.common-nav-list{
display: none;
}
.check-label-common{
    display: block;
    margin-top: -3.4rem;
    margin-right: -5rem;
}
.common-list{
    display: block;
     
 }
}

@media only screen and (max-width:510px){
    
    
    .check-label-common{
        margin-right: -2rem;
       right: 1%;
    }
    }

 