*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.addProductPage{
    margin-top: 8rem;
}

.form-addPage>#filled{
    margin: 1rem;
    
}

.filled-required{
    padding: 1rem;
    
}